<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="content">
          <!-- logo-->
          <img src=" " alt="pin logo" class="img1" />
          <p class="header">Make account to see more</p>
          <form action="/register" method="post">
            <input type="email" name="email" placeholder="Email" class="detail" /><br />
            <input type="text" name="username" placeholder="username" class="detail" /><br />
            <input type="text" name="fullname" placeholder="fullname" class="detail" /><br />
            <input type="text" name="Phonenumber" placeholder="Phonenumber" class="detail" /><br />  
            <input type="password" name="password" placeholder="Password" class="detail" />
            <input type="submit" class="btn int" value="Register Account"/>
          </form>

          
          <p class="or">OR</p>

  
          <footer>
            <a href="/login">Already on Rentify ? login</a>
            <hr>
            <p>
              By continuing, you agree to Rentify's
              <b>Terms of Service, Privacy policy.</b>
            </p>
          </footer>
        </div>
      </div>
     
  
    
</body>
</html>